
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: 100;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.text-muted {
	color:rgba(255,255,255,0.5);
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
	color:white;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  .featurette-heading {
  }
}


* {
    -webkit-transition: all 0.5s ease;
    -moz-transition:    all 0.5s ease;
    -ms-transition:     all 0.5s ease;
    -o-transition:      all 0.5s ease;
    transition:         all 0.5s ease;
}
body {
  	padding-top: 50px;
	font-size:20px;
    font-weight:100;
}

p {
    font-weight:200;
}

#updown {
	position:fixed;
	right:10px;
	top:45%;
font-size: 40px;
color: rgba(0,0,0,0.3);
	cursor:pointer;
    z-index:10;
}

#updown .glyphicon:hover {
	color:rgba(0,0,0,0.7);
}

.social-media {
    position:fixed;
    left:0;
    top:40%;
    z-index:10;
}

.social-media > div {
    height:30px;
    width:30px;
    text-align:center;
    margin:5px 0;
    opacity:0.5;
}

.social-media div:hover {
    opacity:1;
    cursor:pointer;
}

.social-media img {
    height:100%;
}

#navbar {
	background-color:#3498db;
	border:none;
}

.navbar-blue {
	background-color: #3498db;
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
	color:white;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.navbar-blue a {
	color:white;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #2980b9;
}

.navbar-nav > li > .dropdown-menu {
    width:100%;
}

.dropdown-menu {
    background-color:#3498db;
}

.navbar-brand a{
	color:white !important;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.fullscreen {
	height:100%;
}

.fullscreen img {
	float:left;
	height:100%;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.navbar-nav>li>a:hover {
	background-color:#218ED8;

}

.nav-justified {
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: white;
  text-align: center;
}

#nav-container {
    padding:0;
}

.navbar-brand {
	padding:10px 0 0 0;
}

.navbar-brand img {
    height:30px;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
margin-left: 15px;
}

.nav>li>a {
position: relative;
display: block;
padding: 15px 40px;
}


.icon-bar {
    background-color:white;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color:white;
    background-color:#218ED8;
}

.dropdown-menu > li > a {
    color:white;
    font-weight:100;
}

.navbar-nav .open .dropdown-menu > li > a {
    color:white;
    font-weight:100;
}

.navbar-nav .open .dropdown-menu > li > a:hover {
    background-color:#218ED8;
}

section {
    position:relative;
    padding:100px 0;
    min-height:600px;
}

.fb-like-box {
    z-index: 10;
    background-color: white;
    margin-left: 40px;
    margin-top: 40px;
}

.fb_iframe_widget {
    display: none;
    position: fixed !important;
}

#main {
	background: white;
    background-size:cover;
}

#main h1 {
	font-size:80px;
}

#main p {
	font-size:50px;
}
#section1 {
	background-color:#0468BF;
	color:white;
}

#section2 {
	background-color:#1abc9c;
}
#section3 {
	background-color:#FFE189;
}
#section4 {
	//background-color:#ECF2D8;
	background-color:#f46b28;
}
#section5 {
	background-color:#14A670;
}
#section6 {
	background-color:#0468BF;
	color:white;
}
#section7 {
	height:auto;	
	background-image:url(../images/montrealbg.jpg);
	background-repeat:no-repeat;
 	background-size: 100%;
}

.overlap {
position: relative;
z-index: 10;
width: 800px;
margin: auto;
}

.center {
	text-align:center;
	width:100%;
	padding-top:40%;
}

.container {
	position:relative;
}

#erpbubbles {
	width:700px;
	height:700px;
	position:relative;
	margin:50px auto 100px auto;
}

#erpimg {
	display:none;
}

.gps_ring {
    background-color:#2490cf;
    -webkit-border-radius: 100%;                                                          
    position: absolute;
    -webkit-animation: pulsate 1.3s ease-in;                                              
    -webkit-animation-iteration-count: 1;                                                 
    opacity: 1.0;
	text-align:center;
	display:table;	
	color:white;                                                                          
    -webkit-transition: width 1s ease-in;
    -moz-transition: width 1s ease-in;
    -o-transition: width 1s ease-in;
    transition: width 1s ease-in;
}                                                                                         
.gps_ring:hover {
	cursor:pointer;
}
.slow {
   -webkit-animation: pulsate 1.9s ease-out !important;                                   
   -webkit-animation-iteration-count: 1 !important;                                       
}                                                                                         

.fast {
   -webkit-animation: pulsate 1s ease-out !important;                                     
   -webkit-animation-iteration-count: 1 !important;                                       
}                                                                                         

.linedraw {
	-webkit-animation: drawline 1s ease-in !important;
	-webkit-animation-iteration-count:1 !important;
	animation-delay:2s;
	-webkit-animation-delay:2s; /* Safari and Chrome */
}

@-webkit-keyframes drawline {
	0% { opacity:0.0;}
	100% { opacity:1.0;}
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.5, 0.5); opacity: 0.0;}                                
    50% {opacity: 0.5;}
    100% {-webkit-transform: scale(1.0,1.0); opacity: 1.0;}                               
}

#bubble1 {
	top:1%;
	left: 22.4%;
	width:25%;
	height:25%;
	border:15px solid #0468BF;
}
#bubble1:hover {
	border:15px solid #3498db; 
}
#bubble2 {
	top: 10.4%;
	left: 73.8%;
	width: 14.4%;
	height: 14.4%;
	width:25%;
	height:25%;
	border:15px solid #14A670;
} 
#bubble2:hover {
	border:15px solid #2ecc71; 
}
#bubble3 {
	top: 60%;
left: 77%;
width: 25.4%;
height: 25.4%;
	border:15px solid #ECF2D8;
} 
#bubble3:hover {
	border:15px solid #ecf0f1; 
}
#bubble4 {
	top: 69.8%;
left: 26.8%;
width: 30%;
height: 30%;
	border:15px solid #f39c12;
} 
#bubble4:hover {
	border:15px solid #f1c40f; 
}
#bubble5 {
	top: 38%;
left: 0;
width: 27.4%;
height: 27.4%;
	border:15px solid #c0392b;
}
#bubble5:hover {
	border:15px solid #e74c3c; 
}
 
#bubble6 {
	top: 32.8%;
	left: 42.2%;
	width:30%;
	height:30%;
	font-size:200%;
} 

.line {
	position:absolute;
	background-color:#2490cf;
	-webkit-animation: drawline 1s ease-in !important;
	-webkit-animation-iteration-count:1 !important;
}

#line1 {
width: 17%;
height: 1%;
top: 28%;
left: 37%;
-ms-transform: rotate(56deg);
-webkit-transform: rotate(56deg);
transform: rotate(56deg);
}

#line2 {
width: 18%;
height: 1%;
top: 33%;
left: 65%;
-ms-transform: rotate(140deg);
-webkit-transform: rotate(140deg);
transform: rotate(140deg);
}
#line3 {
width: 18%;
height: 1%;
top: 62%;
left: 67%;
-ms-transform: rotate(220deg);
-webkit-transform: rotate(220deg);
transform: rotate(220deg);
}
#line4 {
width: 18%;
height: 1%;
top: 65%;
left: 41%;
-ms-transform: rotate(293deg);
-webkit-transform: rotate(293deg);
transform: rotate(293deg);
}
#line5 {
width: 18%;
height: 1%;
top: 50%;
left: 25%;
-ms-transform: rotate(356deg);
-webkit-transform: rotate(356deg);
transform: rotate(356deg);
}
span {
  display: table-cell;
  vertical-align: middle;
}



.wrapper {
    background:#DDD;
    display:inline-block;
    padding: 10px;
    height: 20px;
    width:auto;
}

.label {
    display: inline-block;
    width: 1em;
}

.contents, .contents .inner {
    display:inline-block;
}

.contents {
    white-space:nowrap;
    margin-left: -1em;
    padding-left: 1em;
}

.contents .inner {
    background:#c3c;
    width:0%;
    overflow:hidden;
    -webkit-transition: width 1s ease-in;
    -moz-transition: width 1s ease-in;
    -o-transition: width 1s ease-in;
    transition: width 1s ease-in;
}



.wrapper .contents .inner {
   
    width:100%;
}
@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

/*iphone*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { /* STYLES GO HERE */
  #erpbubbles {
	display:none;
  }
  #erpimg {
	display:block;
  	padding:50px 0;
  }
  #nav-container {
	padding:2px 0;
  }
  .navbar-brand img {
	height:20px;
  }
  .navbar {
	min-height:30px;
	height:30px;
  }

  .social-media {
      display:none;
  }
}


/********** PARAGON ***********/
body#paragon {
	background-color:#edf1f2;
	padding-top:50px;
}

body#paragon img {
}

#graph1 {
}

#paragonlogo {
	height: 100%;
	width:auto;
}

#navbar-paragon {
	background-color:#333b47;
}

#navbar-paragon .nav>li>a {
position: relative;
display: block;
padding: 15px 20px;
}

#navbar-paragon .nav > li > a:hover,
#navbar-paragon .nav > li > a:focus {
  text-decoration: none;
  color:#F56B00;
  background-color: #333b47;
}

.sidenav {
	position: absolute;
right: 0;
	width:100px;
}

body#paragon .row {
	padding: 30px 0;
}

#search {
	margin-left: -30px;
}

#notification-div {
	display:none;
	height:200px;
	background-color:white;
	cursor:pointer;
}

.icon img {
	width:30px;
}

.topsection {
    height:400px;
    background-color:white;
}

/************ PARTNERSHIPS *************/
#partnerships {
    background-color:#F5F5F5;
}

.partners-list {
    position:relative;
    margin:auto;
    padding:0 100px;
}

.partners-list h2 {
    color:#8D8D8D;
    font-weight:100;
}

.partner-logo {
    background:url('../images/partner1.jpeg') no-repeat center;
    height:100%;
    width:100%;

    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.partner {
    width:200px;
    height:200px;
    -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            transform: rotate(45deg);
    background-color:white;
    float:left;
    position:relative;
}

.partner:hover {
    background-color:rgba(52, 152, 219, 0.24);
    cursor:pointer;
}
.partner-top {
    margin:0 50px 100px 50px;
}

.partner-bottom {
    margin:150px -100px -50px -100px;
}


/************** WHO WE ARE *************/
#officeimg {
    background: url(../images/office.png);
    background-size:cover;
    height:550px;
}

.team {
    font-size:14px;
    color:grey;
}
/************* CONTACT ****************/
#contact {
    background-image:url(../images/montrealbg.jpg);
    background-size:cover;
    padding:150px 0;
    color:white;
}

address a {
    color:white;
}

.contact-icon {
    width:100%;
}

#contact-form {
    margin:auto;
    float:none;
}

label {
    padding-top:0;
    font-weight:100;
}

/************** NEWS **************/
.grey-section {
    background-color:#f8f8f8;
    min-height:500px;
}

.darkblue-section {
    background-color:#272d3a;
    min-height:500px;
}

.white-section {
    min-height:500px;
}

.white-section h1 {
   color:#7e7e7e;
  }







@media (max-width: 992px) {
  .nav>li>a {
   //   padding-left:10px;
  }
}
