@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

#navbar {
	background-color:#3498db;
	border:none;
}


#nav-container {
	padding:10px 0;
}

.navbar-brand {
	padding:0;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
margin-left: 15px;
}



#updown {
	position:fixed;
	right:10px;
	top:50%;
font-size: 40px;
color: rgba(0,0,0,0.3);
	cursor:pointer;
}

#updown .glyphicon:hover {
	color:rgba(0,0,0,0.7);
}

#menu
{
	background: #222;
}
#menu *
{
	font-size: 16px;
}

#menu li:after
{
	margin-left: 60px;
}
#menu li a
{
	line-height: 40px;
}
#menu li a:hover
{
	background-color: rgba( 0, 0, 0, 0.2 );
}
#menu .icon
{
	margin: 0 20px 0 3px;
}

.icon{
	width:15px;
}

#page
{
	box-shadow: none !important;
}
#page nav
{
	display: none;
}

a#open-icon-header
{
	background: center center no-repeat transparent;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwOtARMDHQBdLGFBYt+nkR2KjEhxQqvIYaR7cD2glSWMo0mY3DiJo5Edi4ZPEqZ7nMSP5pPRon60qB9NwpQDgAADAMIxHUJvWs/TAAAAAElFTkSuQmCC);

	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
}

section
{
	height: auto;
	padding-top:50px;
}
section > div
{
	max-width: 80%;
	padding: 100px 20px;
	margin: auto;
}

h2 {
	color:#444!important;
}

#section1 {
	background:#77D7FF;
	color:#444!important;
}

#section2{
	background:#3C74A6;
}
#section3{
	background:#C94A63;
}
#section4{
	background:#FFFED4;
	color:#444!important;
}

.showmore {
	display:none;
}

h1 small {
	color:white;
}

.more:hover {
	cursor:pointer;
	border-bottom:1px solid white;
}


@media all and (min-width: 500px) {
	a#open-icon-header
	{
		display: none;
	}
}
@media all and (max-width: 499px) {
	#open-icon-menu
	{
		display: none;
	}
}
@media all and (min-width: 900px) {
	#open-icon-menu
	{
		display: none;
	}
	#mmenu-blocker
	{
		display: none !important;
	}
}

